#articles-wrapper {
    display: flex;
    flex-flow: row wrap;
}
#articles-wrapper .card-wrapper {
    padding: 12px;
    width: calc(100%/3);
    display: flex;
}
#articles-wrapper .card-wrapper .card-small {
    /*height: 390px;*/
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}
#articles-wrapper .card-wrapper .card-small:hover {
    cursor: pointer;
    border-color: #53b9dd;
    transform: translate(0,-5px);
}
#articles-wrapper .card-wrapper .card-small:hover .card-img img{
    filter: saturate(100%);
}
#articles-wrapper .card-wrapper .card-small .card-img {
    height: 180px;
    overflow: hidden;
}
#articles-wrapper .card-wrapper .card-small .card-img img {
    height: 100% !important;
    width: 100% !important;
    filter: saturate(80%);
    transition: all 0.2s ease;
}
#articles-wrapper .card-wrapper .card-small .card-content {
    padding-left: 20px;
    padding-right: 20px;
}
#articles-wrapper .card-wrapper .card-small .card-content .card-date-by {
    padding: 5px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: #7F7F7F;
    font-size: 15px;
}
#articles-wrapper .card-wrapper .card-small .card-content .card-title {
    padding: 5px 0;
    color: #3F3F3F;
}
#articles-wrapper .card-wrapper .card-small .card-content .card-resume {
    padding: 5px 0;
    color: #7F7F7F;
    font-size: 15px;
}
#articles-wrapper .card-wrapper .card-small .card-category-wrapper {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}
#articles-wrapper .card-wrapper .card-small .card-category-wrapper .card-divider {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 10px;
}
#articles-wrapper .card-wrapper .card-small .card-category-wrapper .card-divider div:nth-child(1) {
    width: 70%;
}
#articles-wrapper .card-wrapper .card-small .card-category-wrapper .card-divider div:nth-child(1) hr {
    margin-top: 13px;
}
#articles-wrapper .card-wrapper .card-small .card-category-wrapper .card-divider div:nth-child(2) {
    width: 30%;
}
#articles-wrapper .card-wrapper .card-small .card-category {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: #7F7F7F;
}
@media screen and (max-width: 1200px) {
    #articles-wrapper .card-wrapper {
        width: calc(100%/2);
    }
}
@media screen and (max-width: 900px) {
    #articles-wrapper .card-wrapper {
        width: calc(100%/1);
    }
}
@media screen and (max-width: 600px) {
    #articles-wrapper .card-wrapper {
        padding: 10px 0;
    }
}
