.route-name-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 30px;
}
.route-name-wrapper span:nth-child(2) {
    font-family: 'source-sans-light';
}
.form-wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding: 20px 30px;
}
.form-wrapper > div {
    width: 50%;
}
.form-wrapper .right-wrapper {
    padding-left: 20px;
}
.input-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 20px;
}
.input-wrapper label {
    width: 25%;
}
.input-wrapper input, .input-wrapper textarea, .input-wrapper select {
    flex-grow: 1;
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.input-wrapper:not(.from-auth) input:focus, .input-wrapper textarea:focus, .input-wrapper select:focus {
    border-color: #6f85e9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(163, 193, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(163, 193, 233, 0.6);
}
.input-wrapper span {
    align-self: center;
    margin-left: 10px;
}
.img-wrapper {
    width: 70%;
    height: 230px;
    margin: 0 auto;
    overflow: hidden;
}
.img-wrapper img {
    width: 100%;
    height: auto;
}
.buttons-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
@media screen and (max-width: 900px) {
    .form-wrapper {
        flex-flow: column nowrap;
    }
    .form-wrapper > div {
        width: 100%;
    }
    .form-wrapper .right-wrapper {
        padding-left: 0;
    }
    .img-wrapper {
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 500px) {
    .input-wrapper {
        flex-flow: column nowrap;
        align-items: stretch;
    }
    .input-wrapper label {
        padding-bottom: 10px;
    }
    .input-wrapper span {
        margin-left: 0;
        margin-top: 16px;
    }
    .dot {
        margin: 0;
    }
    .buttons-wrapper {
        display: block;
    }
}
