.logo-wrapper {
    margin: 0 auto;
    width: 20%;
}
.info-wrapper {
    margin-top: 30px;
}
.info-wrapper p{
    margin-bottom: 20px;
}
.info-wrapper p a {
    color: #5395ff;
}
@media screen and (max-width: 1000px) {
    .logo-wrapper {
        width: 30%;
    }
}
@media screen and (max-width: 500px) {
    .logo-wrapper {
        width: 50%;
    }
}
