#side-bar {
    position: relative;
    width: 300px;
    height: 100%;
    transition: transform 0.3s ease;
    background: url("../../assets/img/react-menu-background.png"), #3263CF; /* For browsers that do not support gradients */
    background: url("../../assets/img/react-menu-background.png"), -webkit-linear-gradient(#3263CF, #00A0CB); /* For Safari 5.1 to 6.0 */
    background: url("../../assets/img/react-menu-background.png"), -o-linear-gradient(#3263CF, #00A0CB); /* For Opera 11.1 to 12.0 */
    background: url("../../assets/img/react-menu-background.png"), -moz-linear-gradient(#3263CF, #00A0CB); /* For Firefox 3.6 to 15 */
    background: url("../../assets/img/react-menu-background.png"), linear-gradient(#3263CF, #00A0CB); /* Standard syntax */
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, left bottom;
    z-index: 3;
}
#side-bar.open {
    transform: translate(0, 0);
}
#side-bar #close-nav {
    display: none;
    position: absolute;
    top: 5px;
    right: 12px;
    color: #6b6b6b;
}
#side-bar #close-nav:hover {
    cursor: pointer;
}
#side-bar #logo-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 52px;
    background-color: #F2F2F2;
}
#side-bar #logo-wrapper div{
    width: 45%;
}
#side-bar #menu-options-wrapper {
    display: flex;
    flex-flow: column nowrap;
}
#side-bar #menu-options-wrapper li{
    width: 100%;
    height: 42px;
    text-align: center;
    color: white;
}
#side-bar #menu-options-wrapper li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: all 0.3s ease;
}
#side-bar #menu-options-wrapper li a:hover {
    background-color: rgba(247, 161, 161, 0.18);
}
#side-bar #menu-options-wrapper li a.active{
    background-color: rgba(247, 161, 161, 0.18);
    position: relative;
}
#side-bar #menu-options-wrapper li a.active::after {
    content: "";
    display: block;
    height: 100%;
    width: 5px;
    background-color: #3F3F3F;
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (max-width: 600px) {
    #side-bar {
        position: absolute;
        transform: translate(-300px, 0);
    }
    #side-bar #close-nav {
        display: block;
    }
}
