.article-wrapper {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    padding: 20px 30px;
    margin: 0 auto;
}
.article-wrapper p {
    line-height: 25px;
}
.article-wrapper .article-info-wrapper {
    display: flex;
    flex-flow: row nowrap;
}
.article-wrapper .article-info-wrapper .resume-img-wrapper {
    width: 40%;
    padding-right: 20px;
}
.article-wrapper .article-info-wrapper .resume-img-wrapper .img-wrapper-ind {
    max-height: 180px;
    overflow: hidden;
}
.article-wrapper .article-info-wrapper .resume-img-wrapper .img-wrapper-ind img {
    width: 100%;
    height: auto;
}
.article-wrapper .article-info-wrapper .context-wrapper {
    width: 60%;
}
.article-wrapper .article-info-wrapper .context-wrapper .resume-wrapper {
    font-family: source-sans-light;
    color: #939393;
    font-style: italic;
}
.article-wrapper .article-info-wrapper .context-wrapper .info-article-wrapper {
    /*font-family: source-sans-light;*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: #6e6e6e;
    font-size: 14px;
    margin-bottom: 10px;
    /*justify-content: flex-start;*/
    /*align-items: center;*/
}
.article-wrapper .article-info-wrapper .context-wrapper .info-article-wrapper .by-category-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.article-wrapper .article-info-wrapper .context-wrapper .info-article-wrapper .by-category-wrapper > div {
    margin-right: 5px;
}
.article-wrapper .article-info-wrapper .context-wrapper .info-article-wrapper .date-wrapper {
    display: flex;
    align-items: center;
}
.article-wrapper .article-info-wrapper .context-wrapper .info-article-wrapper .dot {
    display: inline-block;
}
.article-wrapper .text-wrapper {
    margin-top: 30px;
}
@media screen and (max-width: 1200px) {
    .article-wrapper .article-info-wrapper {
        display: flex;
        flex-flow: column nowrap;
    }
    .article-wrapper .article-info-wrapper .context-wrapper{
        width: 100%;
        padding-top: 20px;
    }
    .article-wrapper .article-info-wrapper .resume-img-wrapper {
        width: 100%;
        padding-right: 0;
    }
    .article-wrapper .article-info-wrapper .resume-img-wrapper .img-wrapper {
        max-height: 360px;
    }
}
@media screen and (max-width: 900px) {
    .article-wrapper {
        width: 100%;
    }
}@media screen and (max-width: 700px) {
    .article-wrapper .article-info-wrapper .context-wrapper .info-article-wrapper {
        flex-flow: column;
    }
    .article-wrapper .article-info-wrapper .context-wrapper .info-article-wrapper .date-wrapper {
        order: 1;
    }
    .article-wrapper .article-info-wrapper .context-wrapper .info-article-wrapper .by-category-wrapper {
        order: 2;
    }
}
